#bg_motiv {
  z-index: -3;
  background-color: var(--beige);
  overflow: hidden;
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  user-select: none;
}

.bg_item {
  bottom: 0;
  position: absolute;
  width: 200px;
  opacity: 0.7;
  user-select: none; /* Standard syntax */
}

#bg_item_rainbow {
  right: 0;
}
#bg_item_lightball {
  right: -100px;
  bottom: 100px;
  rotate: -60deg;
}
#bg_item_rule {
  right: 20px;
  rotate: 60grad;
  bottom: 200px;
}
#bg_item_pencil {
  right: 20px;
  bottom: 20rem;
  rotate: 40grad;
}

.bubble {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(100px);
}

#bubble_left_bottom {
  bottom: 0;
  background-color: var(--blue);
  transform: translateX(-50%) translateY(50%);
}

#bubble_right_top {
  right: 0;
  background-color: var(--green);
  transform: translateX(50%) translateY(-50%);
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bg_item {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .bg_item {
    display: none;
  }
}
