#landing_container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 5rem;
  bottom: 2rem;
  right: 10rem;
  left: 10rem;
}

#landing_text {
  z-index: 5;
  font-size: 5.5rem;
  font-weight: 800;
  line-height: 100%;
  width: 50%;
}

#landing_text h1 {
  white-space: nowrap;
  width: fit-content;
}

#landing_text #bienvenidos {
  z-index: 4;
  position: relative;
  color: var(--red);
}

#landing_imgs_box {
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
}

#landing_imgs_box img {
  position: absolute;
  width: 70%;
  border-radius: 30px;
}

#landing_img_top {
  top: 15%;
  transform: rotate(15deg);
}
#landing_img_bottom {
  bottom: 15%;
  transform: rotate(-15deg);
}
#landing_imgs_box img {
  opacity: 0.8;
  box-shadow: 10px 10px 24px 1px rgba(0, 0, 0, 0.25);
}

/* MOBILE VERSION */
@media (max-width: 900px) {
  #landing_container {
    right: 1rem;
    left: 1rem;
  }
  #landing_text {
    font-size: 4.5rem;
    width: 100%;
  }
  #landing_imgs_box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
