#landing_container {
  display: flex;
  align-items: center;
}

#landing_text {
  z-index: 5;
  font-size: 7rem;
  font-weight: 800;
  line-height: 100%;
  width: 50%;
  text-shadow: 1px 1px 5px white;
}

#landing_imgs_box {
  z-index: 4;
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100%;
  width: 50%;
}

#landing_text h1 {
  white-space: nowrap;
  width: fit-content;
  color: #686767;
}

#landing_text #bienvenidos {
  z-index: 4;
  position: relative;
}

#landing_imgs_box img {
  width: 70%;
  border-radius: 30px;
}

#landing_img_top {
  top: 15%;
  transform: rotate(5deg);
}
#landing_img_bottom {
  bottom: 15%;
  transform: rotate(-5deg);
}
#landing_imgs_box img {
  opacity: 0.8;
  box-shadow: 10px 10px 24px 1px rgba(0, 0, 0, 0.25);
}

/* MOBILE VERSION */
@media (max-width: 900px) {
  #landing_container {
    padding: 0;
  }
  #landing_text {
    display: grid;
    align-content: center;
    height: 100%;
    width: 100%;
    font-size: 4.5rem;
  }
  #landing_imgs_box {
    position: absolute;
    left: 0;
    right: 0;
    align-content: space-around;
    width: auto;
  }
}
