#navbar {
  z-index: 11;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
  padding: 10px 0;
  top: 0;
}

#dropdown_icon {
  display: none;
}

#logo {
  z-index: 11;
  height: 100%;
  padding-left: 50px;
}

#dropdown_list {
  display: flex;
  font-family: var(--boska);
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
  padding-right: 50px;
}

#dropdown_list a {
  padding: 0 10px;
  text-transform: capitalize;
  color: black;
}

#dropdown_list a::after {
  content: "";
  background-color: var(--blue);
  display: block;
  width: 0%;
  height: 5px;
  transition: width ease 330ms;
  border-radius: 30px;
  margin: 0 auto;
}

#dropdown_list a:hover::after {
  width: 100%;
}

@media (max-width: 900px) {
  #dropdown_list {
    display: none;
    position: absolute;
    justify-content: center;
    align-content: space-evenly;
    top: 0;
    height: 50vh;
    width: 100%;
    background-color: var(--green);
    padding-top: 4rem;
  }
  #dropdown_bg_close {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.347);
  }
  #logo {
    padding: 0 0 0 10px;
  }
  #navbar_menu {
    display: none;
  }
  #dropdown_icon {
    display: inline-block;
    position: absolute;
    right: 20px;
    font-size: 3rem;
    font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  }
  #dropdown_list a {
    text-align: center;
    font-family: var(--gluten);
    font-size: 2.5rem;
  }
}
