#navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

#logo {
  height: 100px;
  padding-left: 50px;
}

#navbar_menu {
  display: flex;
  font-family: "Gluten", cursive;
  font-size: 1.5rem;
  font-weight: 300;
  align-items: center;
  padding-right: 50px;
}

#navbar_menu p {
  padding: 0 10px;
}

@media (max-width: 900px) {
  #navbar_menu {
    display: none;
  }
}
